<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login</title>
    </head>
    <body>
        <h2>Iniciar sesión</h2>

        <form th:action="@{/Login}" method="post" th:object="${usuario}">
            <label>Usuario: <input type="text" th:field="*{usuario}" /> </label
            ><br />
            <label
                >Contraseña:
                <input type="password" th:field="*{password}" /></label
            ><br />
            <button type="submit">Ingresar aaa</button>
        </form>

        <p th:if="${error}" th:text="${error}" style="color: red"></p>
    </body>
</html>
